.card-game {
    padding: 15px;
}

.hashtag-game {
    display: grid;
    height: 100%;
    background-color: var(--color-third);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.hashtag-game > .item {
    background-color: var(--color-zero);
    display: flex;
    justify-content: center;
}

.hashtag-game > .item:nth-child(2),
.hashtag-game > .item:nth-child(4),
.hashtag-game > .item:nth-child(6),
.hashtag-game > .item:nth-child(8) {
    justify-content: space-between;
}

.hashtag-game > .item:nth-child(4),
.hashtag-game > .item:nth-child(6) {
    flex-direction: column;
}

.hashtag-game > .item:nth-child(2)::before,
.hashtag-game > .item:nth-child(2)::after,
.hashtag-game > .item:nth-child(4)::before,
.hashtag-game > .item:nth-child(4)::after,
.hashtag-game > .item:nth-child(6)::before,
.hashtag-game > .item:nth-child(6)::after,
.hashtag-game > .item:nth-child(8)::before,
.hashtag-game > .item:nth-child(8)::after {
    content: '';
    background-color: var(--color-third);
}

.hashtag-game > .item:nth-child(2)::before,
.hashtag-game > .item:nth-child(2)::after,
.hashtag-game > .item:nth-child(8)::before,
.hashtag-game > .item:nth-child(8)::after {
    width: 4px;
    height: 100%;
}

.hashtag-game > .item:nth-child(4)::before,
.hashtag-game > .item:nth-child(4)::after,
.hashtag-game > .item:nth-child(6)::before,
.hashtag-game > .item:nth-child(6)::after {
    width: 100%;
    height: 5px;
}


.hashtag-game > .item:nth-child(2)::before,
.hashtag-game > .item:nth-child(2)::after {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.hashtag-game > .item:nth-child(4)::before,
.hashtag-game > .item:nth-child(4)::after {
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
}

.hashtag-game > .item:nth-child(5) {
    border: solid var(--color-third);
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 5px;
    border-bottom-width: 5px;
}

.hashtag-game > .item:nth-child(6)::before,
.hashtag-game > .item:nth-child(6)::after {
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
}

.hashtag-game > .item:nth-child(8)::before,
.hashtag-game > .item:nth-child(8)::after {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.hashtag-game .player-game {
    flex-basis: 100%;
}