.menu {
    display: block;
    text-indent: -9999px;
}

.menu::after, .menu::before, .menu > .center {
    content: '';
    display: block;
    background-color: var(--color-fourth);
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.menu::before, .menu > .center {
    margin-bottom: 5px;
}