.input-game {
    display: none;
}

.label {
    display: inline-flex;
    align-items: center;
}

.label::before {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    border: 3px solid var(--color-fourth);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.input-game:checked + .label::before {
    background-color: var(--color-first);
}