.about {
    background-color: var(--color-negative);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.about > .header-internal {
    margin-bottom: var(--spacing-very-big);
}