.layer-dark {
    background-color: var(--color-negative);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 200ms linear;
}

.layer-dark.-active {
    transform: translateX(0);
}

.layer-dark > .header-internal {
    margin-bottom: var(--spacing-very-big);
}