.icon-close {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.icon-close::before,
.icon-close::after {
    content: "";
    width: 32px;
    height: 4px;
    background-color: var(--color-zero);
    border-radius: 2px;
    position: absolute;
    top: -1px;
}

.icon-close::before {
    left: 2px;
    transform-origin: top left;
    transform: rotate(45deg);
}

.icon-close::after {
    right: 2px;
    transform-origin: top right;
    transform: rotate(-45deg);
}

.icon-close > .content {
    display: inline-block;
    text-indent: -9999px;
}