.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header > .about-link {
    margin-left: auto;
    margin-right: 10px;
}

.header > .menu-game {
   width: 25px; 
}