:root {
    --color-negative: #3a4042;
    --color-light-negative: rgba(58, 64, 66, 0.1);
    --color-zero: #fff;
    --color-first: #f25a70;

    --color-second: #eeeeee;
    --color-third: #9b9b9b;
    --color-fourth: #707070;
    --color-fifth: #828282;

    --color-sixth: #fffcee;
    --color-seventh: #f4f1e4;
    --color-eight: #eae6da;
    --color-nineth: #eff25a;
    --color-tenth: #e5e5e5;
    --color-eleventh: #f1f1f1;
}