.card {
    padding: 15px;
}

.hashtag {
    display: grid;
    height: 100%;
    background-color: var(--color-third);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.hashtag > .item {
    background-color: var(--color-zero);
    display: flex;
    justify-content: center;
}

.hashtag > .item:nth-child(2) {
    justify-content: space-between;
}

.hashtag > .item:nth-child(2)::before,
.hashtag > .item:nth-child(2)::after {
    content: '';
    width: 4px;
    height: 100%;
    background-color: red;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.hashtag > .item:nth-child(5) {
    border: 4px solid red;
}