.app {
    text-align: center;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

.app > .header-game {
    width: 90vw;
    margin: 0 auto 85px;
    min-width: 260px;
}

.app .card-game {
    display: inline-block;
    box-sizing: border-box;
    width: 90vw;
    height: 90vw;
    margin-bottom: 40px;
    max-width: 330px;
    max-height: 330px;
    min-width: 260px;
    min-height: 260px;
}

.app .label-game {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-big);
}

.app .history-game {
    display: none;
}

.app .input-game:checked ~ .history-game {
    display: block;
}

@media (min-width: 740px) {
    .app .header-game {
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .app > .wrapper-hashtagHistory {
        display: inline-flex;
        justify-content: center;
        position: relative;
        transition: transform 200ms linear;
    }

    .app > .wrapper-hashtagHistory.-active {
        transform: translateX(-20%);
    }

    .app .label-game {
        position: absolute;
        left: 96px;
        top: 370px;
    }

    .app .history-game {
        transition: transform 200ms linear;
        opacity: 0;
        display: block;
        position: absolute;
        z-index: -1;
    }

    .app > .wrapper-hashtagHistory.-active > .history-game {
        opacity: 1;
        transform: translateX(200%);
    }
}