.app {
    text-align: center;
}

.app > .header-game {
    width: 90vw;
    margin: 0 auto 85px;
}

.app > .card-game {
    display: inline-block;
    box-sizing: border-box;
    width: 90vw;
    height: 90vw;
    margin-bottom: 40px;
}